<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Provider=Hyper; Uri=net.tcp://localhost"/>
    <!--<add key="ConnectionString" value="Provider=Thrift; Uri=net.tcp://localhost"/>-->
    <!--<add key="ConnectionString" value="Provider=SQLite; Uri=file://test.db"/>-->
    <!--<add key="ConnectionString" value="Provider=Hamster; Uri=file://test.ham"/>-->
    <!--<add key="ConnectionString" value="Provider=Odbc; Ht4n.Odbc.ConnectionString=&quot;Driver={SQL Server Native Client 11.0};Server=.\SQLEXPRESS;Database=testdb;Trusted_Connection=yes;&quot;"/>-->
    <add key="Namespace" value="test"/>
  </appSettings>
</configuration>
